In [206]:
import pandas as pd 
import numpy as np

In [207]:
books=pd.read_csv('BX-Books.csv',sep=";",on_bad_lines='skip',encoding='latin-1')

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_5364\3832043679.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  books=pd.read_csv('BX-Books.csv',sep=";",on_bad_lines='skip',encoding='latin-1')

In [208]:
books.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

In [209]:
books.columns

Index(['ISBN', 'Book-Title', 'Book-Author', 'Year-Of-Publication', 'Publisher',
       'Image-URL-S', 'Image-URL-M', 'Image-URL-L'],
      dtype='object')

In [210]:
books=books[['ISBN','Book-Title','Book-Author', 'Year-Of-Publication','Publisher']]

In [211]:
books.head(2)

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada

In [212]:
books.rename(columns={'Book-Title':'title','Book-Author':'author','Year-Of-Publication':'year','Publisher':'publisher'},inplace=True)

In [213]:
books.head(2)

,ISBN,title,author,year,publisher
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada

In [214]:
users=pd.read_csv('BX-Users.csv',sep=';',on_bad_lines='skip',encoding='latin-1')

In [215]:
books.head(2)
users.rename(columns={'User-ID':'user_id','Location':'location','Age':'age'},inplace=True)

In [216]:
users.head(2)

   user_id                   location   age
0        1         nyc, new york, usa   NaN
1        2  stockton, california, usa  18.0

In [217]:
ratings=pd.read_csv('BX-Book-Ratings.csv',sep=';',on_bad_lines='skip',encoding='latin-1')

In [218]:
ratings.head(2)

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5

In [219]:
ratings.rename(columns={'User-ID':'user_id','Book-Rating':'rating'},inplace=True)

In [220]:
ratings.head(2)

   user_id        ISBN  rating
0   276725  034545104X       0
1   276726  0155061224       5

In [221]:
books.shape

(271360, 5)

In [222]:
users.shape

(278858, 3)

In [223]:
ratings.shape

(1149780, 3)

In [224]:
x=ratings['user_id'].value_counts()>200

In [225]:
y=x[x].index

In [226]:
y

Index([ 11676, 198711, 153662,  98391,  35859, 212898, 278418,  76352, 110973,
       235105,
       ...
       260183,  73681,  44296, 155916,   9856, 274808,  28634,  59727, 268622,
       188951],
      dtype='int64', name='user_id', length=899)

In [227]:
ratings=ratings[ratings['user_id'].isin(y)]

In [228]:
ratings.shape

(526356, 3)

In [229]:
ratings.head(2)

      user_id        ISBN  rating
1456   277427  002542730X      10
1457   277427  0026217457       0

In [230]:
ratings_with_books=ratings.merge(books,on='ISBN')

In [231]:
ratings_with_books.shape

(487671, 7)

In [232]:
number_rating=ratings_with_books.groupby('title')['rating'].count().reset_index()

In [233]:
number_rating.rename(columns={'rating':'number of rating'},inplace=True)

In [234]:
final_rating=ratings_with_books.merge(number_rating,on='title')

In [235]:
final_rating.shape

(487671, 8)

In [236]:
final_rating=final_rating[final_rating['number of rating']>=50]

In [237]:
final_rating.shape

(61853, 8)

In [238]:
final_rating.drop_duplicates(['user_id','title'],inplace=True)

In [239]:
final_rating.shape

(59850, 8)

In [240]:
book_pivot=final_rating.pivot_table(columns='user_id',index='title',values='rating')

In [241]:
book_pivot.fillna(0,inplace=True)

In [242]:
book_pivot

user_id,254,2276,2766,2977,3363,3757,4017,4385,6242,6251,...,274004,274061,274301,274308,274808,275970,277427,277478,277639,278418
title,,,,,,,,,,,,,,,,,,,,,
1984,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1st to Die: A Novel,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2nd Chance,0.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4 Blondes,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
84 Charing Cross Road,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,10.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Year of Wonders,0.0,0.0,0.0,7.0,0.0,0.0,0.0,0.0,7.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
You Belong To Me,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zen and the Art of Motorcycle Maintenance: An Inquiry into Values,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zoya,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"\O\"" Is for Outlaw""",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,8.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [243]:
from scipy.sparse import csr_matrix
book_sparse=csr_matrix(book_pivot)

In [244]:
type(book_sparse)

scipy.sparse._csr.csr_matrix

In [248]:
from sklearn.neighbors import NearestNeighbors
model=NearestNeighbors(algorithm='brute')

In [249]:
model.fit(book_sparse)

NearestNeighbors(algorithm='brute')

In [261]:
distances,suggetions=model.kneighbors(book_pivot.iloc[240,:].values.reshape(1,-1), n_neighbors=6)

In [262]:
suggetions

array([[240, 238, 237, 241, 239, 184]], dtype=int64)

In [263]:
for i in range(len(suggetions)):
    print(book_pivot.index[suggetions[i]])

Index(['Harry Potter and the Prisoner of Azkaban (Book 3)',
       'Harry Potter and the Goblet of Fire (Book 4)',
       'Harry Potter and the Chamber of Secrets (Book 2)',
       'Harry Potter and the Sorcerer's Stone (Book 1)',
       'Harry Potter and the Order of the Phoenix (Book 5)', 'Exclusive'],
      dtype='object', name='title')

In [260]:
book_pivot.index[240]

'Harry Potter and the Prisoner of Azkaban (Book 3)'

In [264]:
np.where(book_pivot.index=='Animal Farm')

(array([54], dtype=int64),)

In [265]:
np.where(book_pivot.index=='Animal Farm')[0][0]

54

In [271]:
def recommended_book(book_name):
    book_id=np.where(book_pivot.index=='Animal Farm')[0][0]
    distances,suggetions=model.kneighbors(book_pivot.iloc[book_id,:].values.reshape(1,-1), n_neighbors=6)

    for i in range(len(suggetions)):
        books=book_pivot.index[suggetions[i]]
    return(books[1:])

In [272]:
recommended_book('Animal farm')

Index(['Exclusive', 'Jacob Have I Loved', 'Second Nature', 'Pleading Guilty',
       'No Safe Place'],
      dtype='object', name='title')